<div class="search-form-container">
  <div class="header-container">
    <h1>A WHOLE TEAM</h1>
    <h1>BEHIND YOU</h1>
    <h4 class="soft-text">Search Harken's <span><%= @states[@state.to_sym] %></span> doctors and hospitals</h4>
  </div>

  <%= form_tag "/#{@state}/results", method: :get, class: "form-container" do %>
    <div class="form-doctor-container">
      <%= select_tag("type", options_for_select(["Doctors", "Healthcare Centers"])) %>
      <%= select_tag("field", options_for_select([["Field", ""]] + @fields.all.pluck(:subject))) %>
    </div>

    <div class="form-location-container">
      <h4 class="soft-text">within <%= select_tag("mileage", options_for_select([["1 mile", 1], ["2 miles", 2], ["5 miles", 5], ["10 miles", 10], ["20+ miles", 25]])) %>  of  <%= text_field_tag("zipcode", nil, placeholder: "zip code", required: true) %></h4>
    </div>

    <%= submit_tag("Search") %>

  <% end %>
</div>
