<h2>Current State: <%= @current_state %></h2>

<%= form_tag "/#{@current_state}/doctors" do %>
  <%= select_tag("office[city]", options_for_select([["City", ""]] + @offices.all.pluck(:city))) %>
  <%= select_tag("office[state]", options_for_select([@current_state])) %>
  <%= select_tag("field[subject]", options_for_select([["Field", ""]] + @fields.all.pluck(:subject))) %>

  <%= submit_tag("Search") %>
<% end %>
