<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Field</th>
  </tr>
  <% for doctor in @doctors %>
  <tr>
    <td><%= doctor.last_name %></td>
    <% doctor.offices.each do |office| %>
      <% if @current_offices.include?(office) %>
        <td><%= office.address %></td>
        <td><%= office.city %></td>
        <td><%= office.state %></td>
      <% end %>
    <% end %>
    <td><%= doctor.expertise %></td>
  </tr>
  <% end %>
</table>
